<header>
    <div class="header-logo">
      YukaMyawTweet
    </div>
    <ul class="header-menus">
      <li>YukaMyawTweetとは</li>
    </ul>
  </header>
  
  <div class="about-main">
    <h2>YukaMyawTweetとは</h2>
    <p>
      Yukaの作ったSNSサービスです。
      近況やつぶやきを投稿し、他のユーザーと楽しくコミュニケーションできます。
    </p>
  </div>