<header>
    <div class="header-logo">
      <a href="/">YukaMyawTweet</a>
    </div>
    <ul class="header-menus">
      <li>
    <a href="/about">YukaMyawTweetとは</a>
      </li>
    </ul>
  </header>

  